In [1]:
# https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.f_oneway.html
# a shell measurement (the length of the anterior adductor muscle scar, 
# standardized by dividing by length) in the mussel Mytilus trossulus 
# from five locations

In [2]:
from scipy.stats import f_oneway

In [8]:
# data
tillamook = [0.0571, 0.0813, 0.0831, 0.0976, 0.0817, 0.0859, 0.0735, 0.0659, 
             0.0923, 0.0836]
newport = [0.0873, 0.0662, 0.0672, 0.0819, 0.0749, 0.0649, 0.0835, 0.0725]
petersburg = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
magadan = [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764, 0.0689]
tvarminne = [0.0703, 0.1026, 0.0956, 0.0973, 0.1039, 0.1045]

In [5]:
# f test
F_stat, p_value = f_oneway(tillamook, newport, petersburg, magadan, tvarminne)

In [6]:
F_stat, p_value

(7.121019471642447, 0.0002812242314534544)

In [7]:
# there is a format for importing 'matrix' like data

In [16]:
# from statsmodels
import pandas as pd 
from statsmodels.formula.api import ols 
from statsmodels.stats.anova import anova_lm 
import io 
import requests

In [22]:
# data link, in github, it has to be 'raw'
url = "https://raw.githubusercontent.com/PyRPy/stats_py/3a263346528d94ab5a6fa8d97bd68fd48f91e45b/IntroStatPy/Data/data_kaplan/galton.csv"

In [20]:
data = pd.read_csv(url)

In [21]:
data.head()

  family  father  mother sex  height  nkids
0      1    78.5    67.0   M    73.2      4
1      1    78.5    67.0   F    69.2      4
2      1    78.5    67.0   F    69.0      4
3      1    78.5    67.0   F    69.0      4
4      2    75.5    66.5   M    73.5      4

In [23]:
type(data)

pandas.core.frame.DataFrame

In [25]:
res = anova_lm(ols('height ~ 1 + sex', data).fit())

In [26]:
res

             df       sum_sq      mean_sq           F         PR(>F)
sex         1.0  5874.573234  5874.573234  933.184603  5.175573e-141
Residual  896.0  5640.489138     6.295189         NaN            NaN