In [16]:
# two way anova
# https://github.com/thomas-haslwanter/statsintro_python

In [2]:
import numpy as np 
import pandas as pd 
from statsmodels.formula.api import ols 
from statsmodels.stats.anova import anova_lm

In [3]:
# data 
inFile = "https://raw.githubusercontent.com/PyRPy/stats_py/master/IntroStatPy/Data/data_altman/altman_12_6.txt"

In [12]:
data = pd.read_csv(inFile, sep = ",", header=None, names= ['hs', 'fetus', 'observer'])
data.head()

     hs  fetus  observer
0  14.3      1         1
1  14.0      1         1
2  14.8      1         1
3  13.6      1         2
4  13.6      1         2

In [13]:
# define the model
formula = 'hs ~ C(fetus) + C(observer) + C(fetus):C(observer)'
lm = ols(formula, data).fit() 
res = anova_lm(lm)
print(res)

                        df      sum_sq     mean_sq            F        PR(>F)
C(fetus)               2.0  324.008889  162.004444  2113.101449  1.051039e-27
C(observer)            3.0    1.198611    0.399537     5.211353  6.497055e-03
C(fetus):C(observer)   6.0    0.562222    0.093704     1.222222  3.295509e-01
Residual              24.0    1.840000    0.076667          NaN           NaN

In [14]:
# interaction iwth p-value = 0.329 > 0.05; not signficant.