In [2]:
# use sqlite3 in python 
import sqlite3 as sql3
import pandas as pd

In [3]:
# create a connection to database
connection = sql3.connect("simple_tables.db")

In [4]:
# create a cursor obj to do sql queries 
cursor = connection.cursor()

In [13]:
# create a table 
cursor.execute(""" 
CREATE TABLE IF NOT EXISTS table1 (
               id integer primary key,
               name text not null, 
               age integer,
               level integer)
"""
)

In [11]:
# query the table 
cursor.execute("SELECT CURRENT_TIMESTAMP")
results = cursor.fetchall()

In [12]:
type(results) # check its data type, we want the restults as data frame or dictionary

list

In [7]:
# display the results 
for res in results:
    print(res)

('2025-01-30 03:47:51',)

In [14]:
# add a column to the table as time stamp
query = "ALTER TABLE table1 ADD COLUMN created_at CURRENT_TIMESTAMP;"
cursor.execute(query)
results = cursor.fetchall()

In [15]:
# display the results 
for res in results:
    print(res)

In [16]:
# get a query in a string and run it using pandas 
query = "SELECT * FROM table1 where level = 2"
df = pd.read_sql_query(query, connection)

In [17]:
df.head() # output is data frame now, not a list anymore

   id  name  age  level created_at
0   2  dave   20      2       None

In [18]:
query = "UPDATE table1 SET created_at = CURRENT_TIMESTAMP WHERE created_at IS NULL;"
cursor.execute(query)

In [21]:
# get a query in a string and run it using pandas 
query = "SELECT * FROM table1"
df = pd.read_sql_query(query, connection)
df.head() # output is data frame now, not a list anymore

   id     name  age  level           created_at
0   1     emma   19      1  2025-01-30 04:01:41
1   2     dave   20      2  2025-01-30 04:01:41
2   3  richard   20      1  2025-01-30 04:01:41

In [22]:
print(df)

   id     name  age  level           created_at
0   1     emma   19      1  2025-01-30 04:01:41
1   2     dave   20      2  2025-01-30 04:01:41
2   3  richard   20      1  2025-01-30 04:01:41

In [23]:
# close the connection if not in use 
connection.close()